.navbar {
    position: fixed;
    /* put in the center right */
	bottom: 0;
	right: 0;

    background-color: transparent;
    padding: 0.5em;
    z-index: 2000; /* Ensure it's above other content */
    transition: all 0.5s;
  }
.navbar-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: smaller;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	padding: 10px;
	letter-spacing: 1px;
	text-decoration: none;
	z-index: 1;
	transition: 0.5s;
	backdrop-filter: blur(15px);
	
}

.navbar-item a {
	text-decoration: none;
	color: gray;
	transition: all 0.5s;
}

.navbar-item a:hover {
	color: #ff0000;
}

.fill {
	
}
